<div class="layout">
  <aside class="sidebar" [class.collapsed]="sidebarCollapsed()">
    <div class="sidebar-header">
      <img src="../../../assets/icon-baby.png" style="filter: brightness(100);" alt="Logo" class="logo" />
      <span *ngIf="!sidebarCollapsed()" class="logo-text">Crescer Bem</span>
    </div>

    <nav class="menu">
      <a mat-button routerLink="/panel/filhos" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
        <span *ngIf="!sidebarCollapsed()">Filhos</span>
      </a>
      <a mat-button routerLink="/panel/consultas" routerLinkActive="active-link">
        <mat-icon>event</mat-icon>
        <span *ngIf="!sidebarCollapsed()">Consultas</span>
      </a>
      <a mat-button routerLink="/panel/vacinas" routerLinkActive="active-link">
        <mat-icon>vaccines</mat-icon>
        <span *ngIf="!sidebarCollapsed()">Vacinas</span>
      </a>
    </nav>
  </aside>

  <div class="main">
    <header class="header">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="spacer"></div>
      <button mat-icon-button (click)="logoutSystem()">
        <mat-icon>logout</mat-icon>
      </button>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
